/* all Inputs */
input {
  outline: none !important;
  padding: 26px 16px;
}

input:focus {
  outline: none !important;
}

/* Custom select styles starts */
select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;

  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  padding: 12px 16px;
  outline: none !important;
}
.custom-select {
  /* min-width: 350px; */
  position: relative;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
/* Custom select styles ends */

.hero__height {
  height: calc(100vh - 100px);
}
.gagdet .hero__height {
  height: calc(100vh - 100px);
}
.con__height {
  height: 100vh;
  /* padding-top: 220px; */
}
.img-bg {
  background-image: url("../src/assets/images/page-title-bg\ 4.png");
  background-repeat: no-repeat;
  background-position: 0% bottom;
}
@media (max-width: 840px) {
  .img-bg {
    background-image: url("../src/assets/images/page-title-bg\ 5.png");
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

.sell-hero-bg {
  background: rgb(14, 12, 77);
  background: linear-gradient(
    90deg,
    rgba(14, 12, 77, 1) 0%,
    rgba(20, 39, 124, 1) 54%
  );
}

/* Swiper js For Testimonail*/
.swiper {
  width: 100%;
  min-height: 400px !important;
  padding: 0 40px;
  position: relative !important;
  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
}

@media (max-width: 1280px) {
  .swiper {
    padding: 0 20px;
  }
}

/* Swiper js For About us page*/
.swiper.about .swiper.mobile,
.swiper.mobile {
  width: 100%;
  min-height: 400px !important;
  padding: 0 40px;
  position: relative !important;
  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
}

.swiper.mobile {
  padding: 0 10px;
  --swiper-navigation-top-offset: 40%;
}

@media (max-width: 840px) {
  .swiper.about {
    display: none !important;
  }
  .swiper.tab {
    display: block !important;
    min-height: 450px !important;
  }
  .swiper.tab > .swiper-item {
    min-height: 400px !important;
  }
}

@media (min-width: 841px) {
  .swiper.tab {
    display: none !important;
  }
  .swiper.mobile {
    display: none !important;
  }
}

@media (min-width: 641px) {
  .swiper.mobile {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .swiper.tab {
    display: none !important;
  }

  .swiper.mobile {
    display: block !important;
    min-height: 500px !important;
  }
  .swiper.mobile > .swiper-item {
    min-height: 300px !important;
  }
}

@media (max-width: 440px) {
  .swiper.mobile {
    display: block !important;
    min-height: 450px !important;
    --swiper-navigation-top-offset: 40%;
  }
  .swiper.mobile > .swiper-item {
    min-height: 300px !important;
  }
}
/*  */
/* Google Font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
