html {
  scroll-behavior: smooth;
}

.con__height {
  height: calc(100vh - 100px);
}
.img-bg {
  background-image: url("../src/assets/images/page-title-bg\ 4.png");
  background-repeat: no-repeat;
  background-position: 0% bottom;
}

/* Swiper js */
.swiper {
  width: 100%;
  height: 400px !important;
  padding: 0 40px;
  position: relative !important;
  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
}

/* Google Font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
