/* Custom select styles starts */
select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
.custom-select {
  min-width: 350px;
  position: relative;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
/* Custom select styles ends */

.gagdet .hero__height {
  height: calc(100vh - 100px);
}
.con__height {
  height: 100vh;
  /* padding-top: 220px; */
}
.img-bg {
  background-image: url("../src/assets/images/page-title-bg\ 4.png");
  background-repeat: no-repeat;
  background-position: 0% bottom;
}
@media (max-width: 840px) {
  .img-bg {
    background-image: url("../src/assets/images/page-title-bg\ 5.png");
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

.sell-hero-bg {
  background: rgb(14, 12, 77);
  background: linear-gradient(
    90deg,
    rgba(14, 12, 77, 1) 0%,
    rgba(20, 39, 124, 1) 54%
  );
}

/* .nav__transform {
  transform: translateY(-10%);
  transition: transform 2s ease-in-out 1s;
}
div.nav__transform.active {
  transform: translateY(0);
} */

/* Sticky Navbar Starts*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* Sticky Navbar Ends */

/* Scrll To Top Starts */
.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: #130d52;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: #fff;
  color: #130d52;
  border: 2px solid #130d52;
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Scrll To Top Ends*/

/* Swiper js For Testimonail*/
.swiper {
  width: 100%;
  height: 400px !important;
  padding: 0 40px;
  position: relative !important;
  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
}

@media (max-width: 1280px) {
  .swiper {
    padding: 0 20px;
  }
}

/* Swiper js For About us page*/
.swiper.about .swiper.mobile,
.swiper.mobile {
  width: 100%;
  height: 400px !important;
  padding: 0 40px;
  position: relative !important;
  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
}

.swiper.mobile {
  padding: 0 10px;

  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 30%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
}

@media (max-width: 840px) {
  .swiper.about {
    display: none !important;
  }
  .swiper.tab {
    display: block !important;
    height: 450px !important;
  }
  .swiper.tab > .swiper-item {
    height: 400px !important;
  }
}

@media (min-width: 841px) {
  .swiper.tab {
    display: none !important;
  }
  .swiper.mobile {
    display: none !important;
  }
}

@media (min-width: 641px) {
  .swiper.mobile {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .swiper.tab {
    display: none !important;
  }
  .swiper.tab {
    display: none !important;
  }
  .swiper.mobile {
    display: block !important;
    height: 500px !important;
  }
  .swiper.mobile > .swiper-item {
    height: 300px !important;
    /* width: 100% !important; */
  }
}

@media (max-width: 440px) {
  .swiper.mobile {
    display: block !important;
    height: 450px !important;
    --swiper-navigation-top-offset: 40%;
  }
  .swiper.mobile > .swiper-item {
    height: 300px !important;
    /* width: 100% !important; */
  }
}
/*  */
/* Google Font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
